{# templates/index.html.twig #}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Symfony Index</title>
</head>
<body>
    <h1>Halo dari Symfony 👋</h1>
    <p>Ini halaman index sementara.</p>
</body>
</html>
